<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <import resource="applicationContext-user.xml"/>
    <import resource="applicationContext-common.xml"/>
    <import resource="applicationContext-cache.xml"/>


    <bean class="com.zl.webView.controller.base.UserManager"/>

    <bean class="org.codehaus.jackson.map.ObjectMapper"/>

    <bean class="com.zl.webView.controller.base.BaseController"/>


</beans>