<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <import resource="applicationContext-jdbc.xml"/>

    <!--ibatis配置-->
    <bean id="sqlMapClient"
          class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation"
                  value="classpath:/sqlMapConfig-common.xml"/>
    </bean>

    <bean id="commonService" class="com.zl.webView.service.impl.CommonServiceImpl">
        <property name="navigationTreeDAO" ref="navigationTreeDAO"/>
    </bean>

    <bean id="navigationTreeDAO" class="com.zl.webView.dao.impl.NavigationTreeDAOImpl"
            parent="baseDAO">
        <property name="sqlMapClient" ref="sqlMapClient"/>
    </bean>

</beans>